/* GLOBAL STYLES */
h1 {text-align: center;}
p {text-align: center;}
.i-prev-next-buttons {
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 2em;
  cursor: pointer;
}
body {margin-bottom: 10em;}

/* CARD V1 */
.i-cards-container {
  background-color: rgb(240, 243, 243);
  width: 700px;
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.i-card-item {
  border: solid 1px black;
  height: 100px;
  background-color: cyan;
  text-align: center;
}

/* CARD V2 */
.i-cards-v2-container {
  background-color: rgb(240, 243, 243);
  width: 700px;
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.i-card-v2-item {
  border: solid 1px black;
  height: 100px;
  background-color: cyan;
  text-align: center;
}
*::-webkit-scrollbar {
  height: 0px;
}
